@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');
body, html{
	margin: 0px;
	padding:0px;
	height: 100%;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}


/**background images*/


#header{
	background: url('../images/header-background.png') scroll no-repeat;
	background-size: cover;
	color: white;
	position: relative;
}
#header::before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

#world-stat{
		background: url('../images/world-bg.png') scroll no-repeat;
	background-size: cover;
	color: white;
	position: relative;
}

#world-stat::before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

#dz-stat{
	background: url('../images/dz-bg.png') scroll no-repeat;
	background-size: 100% 100%;
	color: white;
	position: relative;
}

#dz-stat::before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* block style*/

.section{
	height: 100vh;
	width: 100%;
}

.bg-custom{
background-color: lightgreen;
display: flex;
align-items: center;
}

.width-70{
	width: 70%;
	margin:auto;
}

/*navbar*/
.side-nav{
	height: 100vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0px;
	top: 0px;
	padding:0px;
	z-index: 5;
}

.side-nav ul{
	height: 50%;
	justify-content: space-around;
	width: 100%;
}

.side-nav ul a{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}
.navbar-light .navbar-nav .nav-link.active{
	background-color: lightgray;
}

.side-nav-brand{
	width: 100%;
	margin:0px;
	padding:0px;
	text-align: center;
	position: absolute;
	top: 40px;
}

.stat-block{
	height: 300px;
	background-color: crimson;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-fluid{
	margin:0px !important ;
	padding: 0px !important;
}
.row{
	margin:0px !important ;
	padding: 0px !important;
}

.impair{
	background-color: #800000;

}

.pair{
	background-color: #500000;
-webkit-box-shadow: inset 46px 55px 90px -45px rgba(0,0,0,1);
-moz-box-shadow: inset 46px 55px 90px -45px rgba(0,0,0,1);
box-shadow: inset 46px 55px 90px -45px rgba(0,0,0,1);
}

.top-navbar{
	padding: 0px;
}

.top-navbar a, .top-navbar .nav-link{
	padding: 10px;
}

.top-navbar button{
	margin-right: 10px;
}

/*********************/

/*text style*/
.title{
	font-size: calc(2.3em + 2.5vw);
	font-weight:bolder;
}

.sub-title{
	font-size: calc(1.6em + 2vw);
	font-weight: bolder;
	display: block;
	
}

.text{
	font-size: calc(0.7em + 0.8vw);
}

.navbar-brand{
	font-weight: bolder;
}


/********************/

@media only screen and (max-width: 801px){
	.side-nav{
		display: none;
	}
}