{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container right-panel-active">
     <!-- Sign Up -->
     <div class="container__form container--signup">
         <form action="#" class="form" id="signup_form">
             {% csrf_token %}
             <h2 class="form__title">Sign Up</h2>
             <input type="text" placeholder="User" class="input" />
             <input type="email" placeholder="Email" class="input" />
             <input type="password" placeholder="Password" class="input" />
             <button class="btn">Sign Up</button>
         </form>
     </div>
     <!-- Sign In -->
     <div class="container__form container--signin">
         <form method="POST" class="form" id="login_form">
             {% csrf_token %}
             <h2 class="form__title">Login</h2>
             <input type="text" placeholder="username" class="input" id="login_email" />
             <input type="password" placeholder="Password" class="input" id="login_password" />
             <a href="#" class="link">Forgot your password?</a>
             <button class="btn">Sign In</button>
         </form>
     </div>
     <!-- Overlay -->
     <div class="container__overlay">
         <div class="overlay">
             <div class="overlay__panel overlay--left">
                 <button class="btn" id="signIn">Sign In</button>
             </div>
             <div class="overlay__panel overlay--right">
                 <button class="btn" id="signUp">Sign Up</button>
             </div>
         </div>
     </div>
 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
