{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>
   

   
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Place favicon.ico in the root directory 

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">-->

  <meta name="theme-color" content="#fafafa">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" id="main" class="main">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  {% if request.user_agent.is_mobile %}
      {% include 'navbar-small-size.html' %}   
  {% else %}
      {% include 'side-bar.html' %}
  {% endif %}
  

  {% block content %}
    replace me
  {% endblock content %}



  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

  <script src="{% static 'js/main.js' %}"></script>
 
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
