<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top top-navbar h-200">
  <a class="navbar-brand" href="#">COVID</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#header">COVID-19 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#symptoms">Symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#world-stat">World cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dz-stat">Dz cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#prevent">Prevent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">Footer</a>
      </li>
    </ul>
  </div>  
</nav>