<div class="section container-fluid d-flex flex-column" id="prevent">
    <h2 class="col-lg-11 col-12 text-center mt-5 mb-5 prevent-title">Preventions</h2>
    <div class="card-deck col-12 col-lg-11">
      <div class="card">
        <img class="card-img-top c-img" src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">eat healthy</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top c-img" src="https://images.unsplash.com/photo-1556229167-7ed11195e641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">wash your hands</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top c-img" src="https://images.unsplash.com/photo-1556566353-cdcb88a69f3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">stay home</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top c-img" src="https://images.unsplash.com/photo-1512479064533-47d51d07bb93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">wear a mask</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
</div>