
<div class="container-fluid section" id="prevent" style="background-color: black;">
	<div class="row col-12 col-md-11">
   		<div class="split one col-md-3">
       		<h2 class="sub-title mb-4">eat healthy</h2>
      	</div>
      	<div class="split two col-md-3">
      	 	<h2 class="sub-title mb-4">wash your hands</h2>
      	</div>
      	<div class="split three col-md-3">
      	 	<h2 class="sub-title mb-4">stay home</h2>
      	</div>
      	<div class="split four col-md-3">
      	 	<h2 class="sub-title mb-4">wear a mask</h2>
      	</div>
	</div>
   

</div>