<div class="container-fluid section" id="symptoms">
    <div class="row mb-5">
        <div class="col-12 col-lg-11">
            <h2 class="text-center mt-5 mb-4 prevent-title">Symptoms</h2>
            <p class="text-center mb-3 w-50 m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor. Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
        </div>
    </div>

    <div class="col-11 mt-10 mb-5">
        <div class="col-10 m-auto bg-light p-0 expand">
            <div class="col-12 p-0">
                <div class="row">
                    <figure class="figure col-md-5 col-12 p-0">
                        <img style="width: 100%; object-fit: cover" class="move-top-left-50 shadow-left" src="https://images.unsplash.com/photo-1584652297942-bfac021933b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </figure>
                    <div class="col-md-7 col-12 pt-7">
                        <h2>Fiever</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor.
                            Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor.
                            Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-7 col-12 pt-7">
                        <h2>Dry cough</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor.
                            Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor.
                            Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
                    </div>

                    <figure class="figure col-md-5 col-12 p-0">
                        <img style="width: 100%; object-fit: cover" class="move-top-right-100 shadow-right" src="https://images.unsplash.com/photo-1584541010075-1bf0cbe59b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </figure>
                </div>
                <div class="row">
                    <figure class="figure col-md-5 col-12 p-0">
                        <img style="width: 100%; object-fit: cover" class="move-top-left-150 shadow-left" src="https://images.unsplash.com/photo-1516027828283-84217f09f3c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=669&q=80" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </figure>
                    <div class="col-md-7 col-12 pt-7">
                        <h2>Tiredness</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor.
                            Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta libero sed velit mollis porttitor.
                            Praesent et sapien sed urna aliquet varius. Aliquam sit amet elit viverra, elementum tellus in, dignissim neque.</p>
                    </div>
                </div>
            </div>
    </div>

</div>
</div>